#rouge {
    color: red;
}


/* classe pour le formulaire */

.OK {
    border-color: green;
    border-width: 2px;
}

.KO {
    border-color: red;
    border-width: 3px;
    font-weight: bolder;
}

input,
textarea {
    margin: 7px 0;
}

legend {
    text-align: center;
    font-weight: bold;
}


/* classe pour les images des pages d'accueil */

@media (max-width: 1199px) {
    #img2 {
        display: none;
    }
    #img1 {
        width: 100%;
    }
}

@media (max-width: 576px) {
    #img2 {
        display: none;
    }
    #img1 {
        display: none;
    }
}

#img2 {
    padding-left: 40px;
}