/* TODO FUSION DES FEUILLES DE STYLE CSS EN UN SEUL FICHIER A LA FIN DU PROJET - UN SEUL APPEL DANS LE FOOTER */
#container-bordure {
    background-image: url("/Fil_Rouge_AFPA/annexe/Charte/BACKGROUND/background_village.png");
    background-size: cover;

}
/* retrait de l'image, qui gere une "barre de vide" à chaque retour du fichier. Definition d'une couleur fixe pour le container. */
#container-centre {
    background-color: #e7e7e7;
    Background-position: center;
    width: 100%;
    height: auto;
}

#LogoVillageGreen {
    z-index: 1;
    position: relative;
}

#BandesHeader {
    z-index: auto;
    position: relative;
}


/* Pas encore utilisé */
#imageFooter {   

}

/* Gestion du chevauchement du logo VillageGreen et de la NavBar dans le Header pour les formats Mobiles (Testés avec Firefox) */

@media (max-width: 1199px) {
    #LogoVillageGreen {
        width: 220%;
    }
}

@media (max-width: 991px) {
    #LogoVillageGreen {
        width: 180%;
    }
}

@media (max-width: 767px) {
    #LogoVillageGreen {
        width: 250%;
    }
}

@media (max-width: 575px) {
    #LogoVillageGreen {
        width: 280%;
    }
}

@media (max-width: 480px) {
    #LogoVillageGreen {
        width: 150px;
    }
}




