/* Feuille de style CSS pour l'ensemble du site VillageGreen */

/* *************************************************************************************************************************************************************************** */
/* *************************************************************************************************************************************************************************** */
                /* Ancien styleSite.css */
/* *************************************************************************************************************************************************************************** */
/* *************************************************************************************************************************************************************************** */

#rouge {
    color: red;
}


/* classe pour le formulaire */

.OK {
    border-color: green;
    border-width: 2px;
}

.KO {
    border-color: red;
    border-width: 3px;
    font-weight: bolder;
}

input,
textarea {
    margin: 7px 0;
}

legend {
    text-align: center;
    font-weight: bold;
}


/* classe pour les images des pages d'accueil */

@media (max-width: 1199px) {
    #img2 {
        display: none;
    }
    #img1 {
        width: 100%;
    }
}

@media (max-width: 576px) {
    #img2 {
        display: none;
    }
    #img1 {
        display: none;
    }
}

#img2 {
    padding-left: 40px;
}


/* Mise en page card */

.MLD20 {
    margin: 15px auto;
    max-width: 100%;
}

.h155 {
    margin: 0px auto;
    height: 155px;
    width: auto;
}


/* gestion du positionnement du scroll dans les cards en fonction du responsive */

.overflow-ellipsis {
    width: 253px;
    height: 160px;
    overflow-y: scroll;
    overflow-x: hidden;
}

@media (max-width: 1199px) {
    .overflow-ellipsis {
        width: 208px;
        height: 160px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}

@media (max-width: 991px) {
    .overflow-ellipsis {
        width: 286px;
        height: 160px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}

@media (max-width: 767px) {
    .overflow-ellipsis {
        width: 239px;
        height: 160px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}

@media (max-width: 575px) {
    .overflow-ellipsis {
        width: 286px;
        height: 160px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}

.text-right {
    text-align: right;
    margin: 20px;
}


/* .text-center {
    text-align: center;
} */

.img-panier {
    width: 90%;
}

/* *************************************************************************************************************************************************************************** */
/* *************************************************************************************************************************************************************************** */
                /* Ancien styleHeaderFooter.css */
/* *************************************************************************************************************************************************************************** */
/* *************************************************************************************************************************************************************************** */


#container-bordure {
    background-image: url("/Fil_Rouge_AFPA/annexe/Charte/BACKGROUND/background_village.png");
    background-size: cover;

}
/* retrait de l'image, qui gere une "barre de vide" à chaque retour du fichier. Definition d'une couleur fixe pour le container. */
#container-centre {
    background-color: #e7e7e7;
    Background-position: center;
    width: 100%;
    height: auto;
}

#LogoVillageGreen {
    z-index: 1;
    position: relative;
}

#BandesHeader {
    z-index: auto;
    position: relative;
}

/* Gestion du chevauchement du logo VillageGreen et de la NavBar dans le Header pour les formats Mobiles (Testés avec Firefox) */

@media (max-width: 1199px) {
    #LogoVillageGreen {
        width: 220%;
    }
}

@media (max-width: 991px) {
    #LogoVillageGreen {
        width: 180%;
    }
}

@media (max-width: 767px) {
    #LogoVillageGreen {
        width: 250%;
    }
}

@media (max-width: 575px) {
    #LogoVillageGreen {
        width: 280%;
    }
}

@media (max-width: 480px) {
    #LogoVillageGreen {
        width: 150px;
    }
}

/* Gestion du bouton Pulsate du panier dans le header*/

.badge {
    display: inline-block;
    background-color: #37B35A;
    border-radius: 50%;
    color: #fff;
    padding: 0.5em 0.75em;
    position: relative;
  }
  
.pulsate::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: pulse 1s ease infinite;
    border-radius: 50%;
    border: 4px double #37B35A;
  }
  
@keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    60% {
      transform: scale(1.3);
      opacity: 0.4;
    }
    100% {
      transform: scale(1.4);
      opacity: 0;
    }
  }

/* *************************************************************************************************************************************************************************** */
/* *************************************************************************************************************************************************************************** */
                /* Ancien federer.css */
/* *************************************************************************************************************************************************************************** */
/* *************************************************************************************************************************************************************************** */


 /* Feuille qui gere le FlipCard dans la page /Service/Ser */
 /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
 .flip-card {
    background-color: transparent;
    width: 200px;
    height: 300px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.9s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg)
    /* Mode Tony Hawk */
    /* transform: rotateY(1980deg) rotateX(360deg) rotateZ(720deg); */
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  } 